:root{
    padding:0;
    margin: 0;
   
}
body{
    background-color: rgb(149, 216, 233);
    height: 100%;
}
.head{
    width: 100%;
    height: 15vh;
    background-color: cadetblue;
}

.container{
    width: 100%;
    height: 70vh;
    display: flex;
    background-color: white;
    padding: 0%;

}


ul li {
border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
 color: white; 
 display: block; 
 line-height: 40px; 
 text-decoration: none; 

}

.menu{
    width: 20%;
    height: 100%;
    background-color:rgb(67, 151, 199) ;
}
.contenu{
    width: 80%;
    height: 100%;
    text-align: center;
    padding: 15px;
}

.toolbar{
    width: 100%;
    height: 10vh;
    background-color:cadetblue;
    display: block;
}
table{
    border: 5px;
    width: 300px;
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}